<ion-list>
    <ion-item>
        <ion-label>Task Name: </ion-label>

        <ion-input slot='end' type='text' placeholder='dishes?' id='itemName' minlength='5' maxlength='32'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Assigned To: </ion-label>


        <ion-select value="none" (ionChange)='comparePersonSelected($event)' id='itemAssignedTo'>
            <ion-select-option slot='start' value="none"> </ion-select-option>
            <ion-select-option slot='end' *ngFor='let person of this.currentPersons' value="{{person.Name}}"> {{person.Name}}
            </ion-select-option>
            <ion-select-option slot='start' value='new'>
                <ion-icon name="add">New Person?</ion-icon>
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf='newPersonFlag'>
        <ion-label>Person's Name: </ion-label>
        <ion-input slot='end' type='text' placeholder='nathan?' id='newPersonName' minlength='5' maxlength='32'></ion-input>
        <ion-button slot='end' (click)='onAddNewPerson()'> Go! </ion-button>
    </ion-item>
    <ion-item>
        <ion-label>Stacked Under: </ion-label>


        <ion-select value="none" id='itemParent'>
            <ion-select-option value="none"> </ion-select-option>
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: currentItems }"></ng-container>
        </ion-select>
    </ion-item>

    <ion-text slot='end' id='taskNameWarning' color='danger'></ion-text>

    <ion-item>
        <ion-button (click)='onAddItemConfirmed()'>Add It!</ion-button>
    </ion-item>
</ion-list>

<ion-item>
    <ion-label>Need to remove a person? </ion-label>
    <ion-select value="none" id='peopleRemover'>
        <ion-select-option slot='end' *ngFor='let person of this.currentPersons' value="{{person.Name}}"> {{person.Name}}
        </ion-select-option>
    </ion-select>
    <ion-button (click)='removePerson()'>
        Delete
    </ion-button>
</ion-item>



<ng-template #recursiveListTmpl let-list="list">
    <div *ngFor='let item of list'>
        <ion-select-option value="{{item.Name}}">{{item.Name}}</ion-select-option>
        <div *ngIf='item.Children.length > 0'>
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.Children }">
            </ng-container>
        </div>
    </div>
</ng-template>
