<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">List</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-fab horizontal="end" vertical="top">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: itemList }"></ng-container>
    </ion-list>



    <ng-template #recursiveListTmpl let-list="list">
        <ion-grid *ngFor='let item of list'>
            <ion-row>
                <ion-col>
                    <ion-title>
                        <ion-label color={{getColorForItem(item.Status)}}>{{item.Name}}</ion-label>
                    </ion-title>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)='changeItemStatus(item)' [(ngModel)]="item[Status]"></ion-checkbox>
                </ion-col>
            </ion-row>

            <div *ngIf='item.Children.length > 0'>
                <ion-row>
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.Children }">
                    </ng-container>
                </ion-row>
            </div>

        </ion-grid>
    </ng-template>


</ion-content>
